node_modules
lib/
npm-debug.log
*.log
*.test.js
*.md
.DS_Store

dist
.git
.dockerignore
Dockerfile
docker-compose.yml

# Evita que o arquivo local vá pro build e atrapalhe o echo do Docker
src/ee/configs/environment/environment.ts
